services:
  postgresql:
    container_name: postgresql
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    image: postgres:16
    ports:
      - 5432:5432
    volumes:
      - /var/lib/postgresql/data
