global:
  checkNewVersion: false
  sendAnonymousUsage: false

log:
  level: INFO
  format: json

accessLog:
  filePath: /var/log/traefik/access.log
  format: json
  bufferingSize: 0
  fields:
    defaultMode: keep
    headers:
      defaultMode: drop
      names:
        User-Agent: keep

api:
  dashboard: false
  insecure: false

experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.2

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
    http:
      middlewares:
        - crowdsec@file

providers:
  file:
    directory: /etc/traefik/dynamic
    watch: true
