[package]
name = "agent"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
bollard = "0.18.1"
reqwest = "0.12.14"
serde_json = "1.0.140"
tokio = { version = "1.44.1", features = ["full"] }
